.site
  .header GPU Parts
  .sidebar Filters
    div
      span
        .title.arrow-down(data-id="p") Price
      ul(id="p-list")
        li
          input(type="checkbox", id="p_all", class="p_filter" checked)
          label(for="p_all") All
        li
          input(type="checkbox", id="p_1", p-min="0", p-max="100", class="p_filter")
          label(for="p_1") Less than $100
        li
          input(type="checkbox", id="p_2", p-min="100", p-max="250", class="p_filter")
          label(for="p_2") $100 - $250
        li
          input(type="checkbox", id="p_3", p-min="250", p-max="500", class="p_filter")
          label(for="p_3") $250 - $500
        li
          input(type="checkbox", id="p_4", p-min="500", p-max="750", class="p_filter")
          label(for="p_4") $500 - $750
    div(id="model-filter-div")
      .title.arrow-down(data-id="m") Model
      ul(id="m-list")
  .main Parts
    .searchbar
      | Search for GPUs:
      input(type="text", id="searchFilter", placeholder="Search")
    hr
    table
      thead
        tr
          th
          th(data-type='Product Name') Name
            button(data-dir='asc').arrow-up
            button(data-dir='dsc').arrow-down
          th(data-type='GPU Chip') Model
            button(data-dir='asc').arrow-up
            button(data-dir='dsc').arrow-down
          th(data-type='Price') Price
            button(data-dir='asc').arrow-up
            button(data-dir='dsc').arrow-down
          th
      tbody(id="fbody")